# pip install -r requirements.txt

# Download ------------------------------------
wget

# Base ----------------------------------------
numpy
pandas
statistics

# Plotting ------------------------------------
matplotlib